# --- USTAWIENIA GŁÓWNE ---
SECRET_KEY=django-insecure-test-key-zmien-mnie
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# --- EMAIL (SMTP - LH.pl) ---
EMAIL_HOST_USER=twoj-prawdziwy-email@domena.pl
EMAIL_HOST_PASSWORD=twoje-haslo-do-poczty

# --- GOOGLE LOGIN ---
GOOGLE_CLIENT_ID=591435600928-jkcr94pim0taieevj0mlcv112j85verk.apps.googleusercontent.com

# Database connection

DB_NAME=serwer329971_pilkarskiekosy
DB_USER=serwer329971
DB_PASSWORD=qmG76ck*6F=+3_AH
DB_HOST=sql146.lh.pl
DB_PORT=3306